Repository dogether-project/dogether-iOS, pull requests merged in 2025-06, with the labels that each got.

#51 fix #50: 바텀시트에서 항목이 선택되지 않는 버그 수정
  dogether/Presentation/Features/CertificationList/CertificationListViewController.swift
  dogether/Presentation/Features/Main/MainViewController.swift
  dogether/Presentation/Features/Main/MainViewModel.swift
Labels: 🐞 fix

#52 투두가 있을때도 투두를 추가할 수 있도록 수정해요
  dogether/Domain/Entity/Model/WriteTodoInfo.swift
  dogether/Domain/UseCase/ChallengeGroupUseCase.swift
  dogether/Presentation/Features/Main/Components/TodoListView.swift
  dogether/Presentation/Features/Main/MainViewController.swift
  dogether/Presentation/Features/TodoWrite/Components/TodoWriteTableViewCell.swift
  dogether/Presentation/Features/TodoWrite/TodoWriteViewController.swift
  dogether/Presentation/Features/TodoWrite/TodoWriteViewModel.swift
Labels: 🐥 feat

#53 그룹원 인증정보 페이지 UI를 개선했어요
  dogether/Data/Network/Response/GetMemberTodosResponse.swift
  dogether/Data/RepositoryTest/ChallengeGroupsRepositoryTest.swift
  dogether/Domain/Entity/Enum/TodoStatus.swift
  dogether/Domain/Entity/Model/MemberCertificationInfo.swift
  dogether/Domain/UseCase/ChallengeGroupUseCase.swift
  dogether/Presentation/Common/TodoStatusButton.swift
  dogether/Presentation/Features/MemberCertification/MemberCertificationViewController.swift
Labels: 🐞 fix, 🎨 design, 🐥 feat

#55 loadMainView 로직을 개선하고 호출 케이스를 추가했어요
  dogether/App/SceneDelegate.swift
  dogether/Data/DataSources/ChallengeGroupsDataSource.swift
  dogether/Data/Network/Router/ChallengeGroupsRouter.swift
  dogether/Data/Repository/ChallengeGroupsRepository.swift
  dogether/Data/RepositoryTest/ChallengeGroupsRepositoryTest.swift
  dogether/Data/RepositoryTest/GroupRepositoryTest.swift
  dogether/Domain/Entity/Enum/TodoStatus.swift
  dogether/Domain/Protocol/ChallengeGroupsProtocol.swift
  dogether/Domain/UseCase/ChallengeGroupUseCase.swift
  dogether/Domain/UseCase/MainUseCase.swift
  dogether/Presentation/Features/CertificationList/CertificationListViewController.swift
  dogether/Presentation/Features/Main/Components/TodoListView.swift
  dogether/Presentation/Features/Main/MainViewController.swift
  dogether/Presentation/Features/Main/MainViewModel.swift
  dogether/Presentation/Features/Ranking/Components/RankingView.swift
  dogether/Presentation/Features/Ranking/RankingViewController.swift
  dogether/Utility/Coordinator/NavigationCoordinator.swift
  dogether/Utility/Extension/DateExt.swift
  dogether/Utility/Manager/UserDefaultsManager.swift
Labels: 🐞 fix, 🐥 feat, 🛠️ refactor

#56 1.0.1 업데이트를 진행했어요
  dogether.xcodeproj/project.pbxproj
  dogether/App/SceneDelegate.swift
  dogether/Data/DataSources/ChallengeGroupsDataSource.swift
  dogether/Data/Network/Response/GetMemberTodosResponse.swift
  dogether/Data/Network/Router/ChallengeGroupsRouter.swift
  dogether/Data/Repository/ChallengeGroupsRepository.swift
  dogether/Data/RepositoryTest/ChallengeGroupsRepositoryTest.swift
  dogether/Data/RepositoryTest/GroupRepositoryTest.swift
  dogether/Domain/Entity/Enum/TodoStatus.swift
  dogether/Domain/Entity/Model/MemberCertificationInfo.swift
  dogether/Domain/Entity/Model/WriteTodoInfo.swift
  dogether/Domain/Protocol/ChallengeGroupsProtocol.swift
  dogether/Domain/UseCase/ChallengeGroupUseCase.swift
  dogether/Domain/UseCase/MainUseCase.swift
  dogether/Presentation/Common/TodoStatusButton.swift
  dogether/Presentation/Features/CertificationList/CertificationListViewController.swift
  dogether/Presentation/Features/Main/Components/TodoListView.swift
  dogether/Presentation/Features/Main/MainViewController.swift
  dogether/Presentation/Features/Main/MainViewModel.swift
  dogether/Presentation/Features/MemberCertification/MemberCertificationViewController.swift
  dogether/Presentation/Features/Ranking/Components/RankingView.swift
  dogether/Presentation/Features/Ranking/RankingViewController.swift
  dogether/Presentation/Features/TodoWrite/Components/TodoWriteTableViewCell.swift
  dogether/Presentation/Features/TodoWrite/TodoWriteViewController.swift
  dogether/Presentation/Features/TodoWrite/TodoWriteViewModel.swift
  dogether/Utility/Coordinator/NavigationCoordinator.swift
  dogether/Utility/Extension/DateExt.swift
  dogether/Utility/Manager/UserDefaultsManager.swift
Labels: 🍎 release
